API_BASE: str = "https://api.old.server.spacebar.chat/api"  # API base endpoint
CDN_BASE: str = "https://cdn.old.server.spacebar.chat"

TOKEN: str = ""  # Fosscord account token

# The following is used for the bridge bot (will commit later probably)
DTOKEN: str = "" # discord bot token
webhook: str = "" # webhook url
discord_channel: int = 0 # discord channel id
fosscord_channel: int = 0 # fosscord channel id
